.content-wrap {
  opacity: 0.9;
}

.sidebar {
  opacity: 0.9;
}

.header-inner {
  background: rgba(255,255,255,0.9);
}

.popup {
  opacity: 0.9;
}
body {
  background: $blace-bright;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-position: 50% 50%;
}
	// 主页文章添加阴影效果
//文章透明度设置
.post-block {
  opacity: 1;
}
//侧边框的透明度设置
.sidebar {
  background-color: transparent;
  opacity: 10;
}
//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,1);
}
//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.9;
}
